*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #021a13; }

button, a {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

input, textarea, select {
  font-size: 16px;
}
